html,
body {
  background-color: #f2f2f2;
  height: 100%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  list-style-type: none;
}

.page-content {
  height: 100% !important;
}

.cyan-scheme nav {
  background-color: #00abc0;
}

.side-nav li.active {
    color: #00abc0;
}

.wrapper.vertical-sidebar .side-nav {
    padding-top: 64px;
}

.wrapper.vertical-sidebar .side-nav .collapsible .collapsible-body li.active {
    background-color: #00abc0;
}

.left {
    float: left;
}

.wrapper .main {
    min-height: calc(100vh - 64px);
    padding-bottom: 370px;
    margin-bottom: -370px;
}

.main {
    padding-left: 300px;
}

.main-context {
  padding: 0px 15px;
}

.inner-context {
  display: inline-block;
  margin: 15px;
}
