.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: '100%';
  background-color: '#11619a';
  -webkit-transition: 'all .5s ease-in-out';
  -moz-transition: 'all .5s ease-in-out';
  -o-transition: 'all .5s ease-in-out';
  transition: 'all .5s ease-in-out';
}
.headroom--unfixed {
  position: relative;
  z-index: 9999;
  transform: translateY(0);
}
.headroom--scrolled {
  z-index: 9999;
  transition: transform 200ms ease-in-out;
}
.headroom--unpinned {
  z-index: 9999;
  position: fixed;
  transform: translateY(-100%);
}
.headroom--pinned {
  z-index: 9999;
  position: fixed;
  transform: translateY(0%);
}