html, body {
  height: 100%;
  background-color: #f2f2f2;
}

ul {
  padding: 0;
  list-style-type: none;
}

ul li {
    list-style-type: none;
}

.page-content {
  height: 100% !important;
}

.cyan-scheme nav {
  background-color: #00abc0;
}

.side-nav li.active {
    color: #00abc0;
}

.wrapper.vertical-sidebar .side-nav {
    padding-top: 64px;
}

.wrapper.vertical-sidebar .side-nav .collapsible .collapsible-body li.active {
    background-color: #00abc0;
}

.left {
    float: left;
}

.wrapper .main {
    min-height: calc(100vh - 64px);
    padding-bottom: 370px;
    margin-bottom: -370px;
}

.main {
    padding-left: 300px;
}
